h1 img {
    height: 200px;
    display: block;
}

body {
    margin: 0;
    background-color: #553A41;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E6E8E6;
    padding: 15px 30px;
}

nav a {
    margin-left: 50px;
    color: #E6E8E6;
    font-weight: bold;
    text-decoration:none;
    border-color: #191919;
    border-radius: 15px;
    background-color:#191919; 
    width: 200px;
    font-size: 100px;
}

main section:first-of-type {
    text-align: center;
    padding: 60px 20px;
    background-color: #3A6EA5;
}

nav a:hover {
    color:gray;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #191919;
    color:#E6E8E6;
    cursor: pointer;
    
}

button:hover {
    background-color:gray;
    
}

main section {
    margin: 30px;
}

div {
    display: flex;
    gap: 20px;
   
}

article {
    background-color: #E6E8E6;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    
}


figure {
    background-color: #E6E8E6;
    height: 5px;
    margin-bottom: 10px;
    border-radius: 8px;    
}

article p:first-of-type {
    text-decoration: line-through;
    color: gray;
}

article p:last-of-type {
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #E6E8E6;
    margin-top: 30px;
}

h3 img {
    height: 500px;
}

article a {
    font-weight: bold;
}

h2 img {
    height: 500px;
    width: 500px;
}

h4 img {
    height: 300px;
    width: 300px;
    padding: 10px;
    background-color: #E6E8E6;
     margin: 60px 20px;
    border-radius: 8px;
}

div input {
    height: 50px;
    width: 500px;
}

h3 img:hover {
    transform: scale(1.1);
    brightness: 150%;
    background-color: #3A6EA5;
}
